---
import "../styles/global.css"
---
<nav class="w-full grid grid-cols-5 px-5 py-3">
    <div class="flex flex-row items-center">
        <a href="/about" class="text-gray-800 mr-4 font-satoshi font-medium hover:text-gray-600">About</a>
        <a href="/photos" class="text-gray-800 mr-4 font-satoshi font-medium hover:text-gray-600">Photos</a>
        <a href="/books" class="text-gray-800 mr-4 font-satoshi font-medium hover:text-gray-600">Books</a>
    </div>
    <div class="flex flex-row items-center col-span-3 justify-center">
        <a href="/" class="text-2xl font-light text-gray-800 ml-4 font-satoshi">Atul Dhir Photography</a>
    </div>
    <div class="flex flex-row items-center justify-end">
    <a href="#" class="px-10 py-3 border-2 border-black rounded-full hover:bg-black hover:text-white transition duration-300 font-satoshi font-medium">Contact Me</a>
    </div>
</nav>